body {
    font-family: Raleway;
}

.button {
    font-family: 'Indie Flower', cursive;
}

.secondary {
    background-color:#2C3E50;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 3px;
}

#dino {
    margin:5px;
}

h1, h2 {
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
}

.blue-text {
    color:#2C3E50;
}

.decorative-line {
    max-width: 15rem;
    color:#fff;
    height: 1px;
    border: 1 none;
}

.fact-section {
    border: 5px solid #2C3E50;
    padding: 10px;
}

.randomFactButton {
    font-size: 22px;
}

.dinotext {
    margin-top:15px;
    margin-bottom:25px;
    font-size: 22px;
    color:#2C3E50;;

}
