body {
    font-family: Raleway;
}

.button {
    font-family: 'Indie Flower', cursive;
}

.secondary {
    background-color:#2C3E50;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 3px;
}